.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

target
.classpath
.vscode
*.antlr
input.txt

.gradle
build/

midifile.mid

# User-specific stuff
.idea